* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: white;
}

.main h1 {
  text-align: left;
  color: rgb(10, 10, 10);
  font-family: 'poppins', sans-serif;
  font-size: 2.5rem;
  padding-top: 20px;
  padding-left: 200px;
  padding-bottom: 50px;
}

.container {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 20px;
  justify-content: stretch;
}

.recentscores {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.score-header {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  color: rgb(18, 18, 18);
  margin-bottom: 15px;
}

.playerlist {
  width: 80%;
  padding: 10px;
  border: 2px solid rgb(39, 39, 39);
}

.playertitle {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}
.list-score {
  width: 100%;
  padding: 10px;
}

tr,
td {
  padding: 10px;
}
.form-score {
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-family: inherit;
  padding: 2px;
  color: rgb(13, 12, 13);
}

.form-score h2 {
  padding-bottom: -10px;
}

#user,
#score {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 10px;
}

.btnform {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.addbtn,
.btn-refresh {
  width: 90px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid;
  box-shadow: 2px 2px 2px rgb(12, 12, 12);
  color: rgb(12, 12, 12);
}

.success {
  padding: 10px;
}

@media (max-width: 480px) {
  main {
    width: 100%;
  }

  .container {
    width: 60%;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}
